*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f8f8f8;
}
#main{
    width: 100%;
    height: 100%;
    background-color:#F8F8F8 ;
    position: relative;
    padding: 1px;/*for making gap between main and nav taki jb 
                    hum nav to margin de tb uske sath sath main div bhi na ghaske */
}
#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 30px;
    border-top:2px solid black;
    border-bottom:2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h1{
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:monument;
    font-size: 40px;
    letter-spacing:-2px;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-family: gillroy;
    font-weight: 300;
    font-size: 1.6vw;
    position: absolute;
    top: 15%;
    right:6%;
}
#nav h1::before{
    content: "model management";
    font-family: gillroy;
    font-weight: 400;
    font-size: 15px;
    color: #666;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: 10%;
    right:9%;
}
#nav h2{
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 20px;
    font-weight: 500;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#nav h2:nth-last-child(2){
    width: 30%;
}
#nav h3{
    display: none;
}
#centre{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding:4vw;
}
#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover; /*pure parent div ko cover kr lega*/
}
#overlay{
    height: 50%;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    bottom: 0;
    padding: 0 2vw;
    background-color: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(5px);
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F8F8F8;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3.6vw;
    font-weight: 400;
}
#over1 h2{
    font-size: 2vw;
    /* background-color: blue; */
    padding: 1.5vw ;
    border-radius: 50%;
    border: 1px solid white;
    border-left : 3px solid rgb(27, 18, 18);

}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F8F8F8;
    border-top:2px solid white;
    padding: 1vw 0;
}

#over2 h4{
    font-size: 1.3vw;
    font-weight: 400;
}
#over2 img{
    height:3vw ;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height:95% ;
    width: 15%;
    margin: 0.5vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

@keyframes anime {
    from{
        transform: translateX();
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 11vh;
    width: 100%;
    /* background-color:burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    margin-right: 1.5vw;
    border-bottom: 2px solid black;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    /* background-color: yellow; */
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 1px solid black;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1602564658744-7394bb96f699?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8);
    margin-right: 2vw;
    background-size: cover;
    background-position: center;
}
#page2-part2{
    height: 100%;
    width: 46%;
}
#page2-part2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
#page2 #words{
    width: 100%;
    height: 30%;
    /* background-color: red; */
    display: flex;
    padding-top: 2vw;
}
#page2 #words h2{
    font-size: 25px;
}

#part3{
    height: 4vw;
    width: 90%;
    /* background-color: red; */
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
}
#part3 h2{
    font-size: 3vw;
    text-transform: uppercase;
}

#page3{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 3vw 4vw 4vw 6vw;
}
#page3 #circular{
    height: 100%;
    width: 30%;
    margin-right: 3vw;
    /* background-color: aqua; */
}
#page3 #circular #text{
    height: 80%;
    width: 100%;
    /* background-color: red; */
    position: relative;
}
#page3 #circular #text img{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page3 #circular #text #arrow{
    position: absolute;
    top: 50%;
    left: 40%;
}
#page3 #circular #content{
    height: 20%;
    width: 100%;
    /* background-color: yellow; */
    padding: 2vw;
}

#page3 #photo{
    height: 100%;
    width: 60%;
    background-color: blue;
}
#page3 #photo img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#page4{
    width: 100%;
    height: 90%;
    /* background-color:cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#page4 img{
    height: 85%;
    width: 90%;
    margin-bottom:5%;
}

#page5{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 4vw 4vw 5vw 4vw;
}
#page5>h1{  /* > means page 5 ka direct h1*/
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 300;
    margin-bottom:7vh ;
}
.elem{
    height: 17vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
}
.elem:nth-last-child(1){
    border-bottom:2px solid black ;
}
.elem h4{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}
.elem img{
    height: 7vw;
    width: 7vw;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    object-fit: cover;
    object-position: top;
    opacity: 0;
    transition: all ease 0.7s;
}
.elem .elem-part2{
    width: 55%; /*part 2 bich me aa jayega elem ke*/

}
.elem .elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}
.elem .elem-part2 h5{
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}
.elem:nth-last-child(1) img{
    left: 40%;
}
.elem:nth-last-child(3) img{
    left: 40%;
}
.elem:hover {
    background-color: rgb(219, 224, 224);
}
.elem:hover img{
    opacity: 1;
    left: 25%;
}

#page6{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5vw 5vw;
}
#page6-part1{
    height: 100%;
    width: 50%;
    /* background-color: rebeccapurple; */
}
#page6-part1 img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#page6-part2{
    height: 100%;
    width: 60%;
    margin-left: 4%;
    position: relative;
    /* background-color: red; */
}
#page6-part2 #top{
    height: 45%;
    width: 100%;
    /* background:red; */
}
#page6-part2 h1{
    text-transform: uppercase;
    font-size: 3vw;
}
#page6-part2 h3{
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
#page-part2 h5{
    font-size: 1vw;
    font-weight: 500;
}
#page6-part2 #bottom{
    height: 55%;
    width: 100%;
    /* background:red; */
    display: flex;
}
#page6-part2 #bottom #img1{
    height: 100%;
    width: 60%;
    margin-right: 1vw;
    /* background-color: blue; */
}
#page6-part2 #bottom #img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle;
}
#page6-part2 #bottom #img2{
    height: 100%;
    width: 40%;
}
#page6-part2 #bottom #img2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page7{
    height: 90%;
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 0 5vw 4vw 5vw;
}
#page7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page8{
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display:flex;
    padding: 5vw;
    padding-top: 0;
}
#page8 #img1{
    height: 100%;
    width: 60%;
    /* background-color: red; */
    margin-right: 4vw;
}
#page8 #img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page8 #img2{
    height: 100%;
    width: 40%;
    /* background-color: cadetblue; */
}
#page8 #img2 #top{
    height: 70%;
    width: 100%;
    margin-bottom: 1vw;
}
#page8 #img2 #top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page8 #img2 #bottom{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#page8 #img2 #bottom h3{
    font-size: 1.65vw;
}
#page8 #img2 #bottom h5{
    font-size: 1.2vw;
    font-weight: 500;
}
#marque{
    /* height: 15vh; */
    width: 100%;
    padding: 0.8vw;
    /* background-color: red; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black ;
    color: transparent;
    font-family: monument;
    letter-spacing:3px;
    margin-right: 16px; /* gap is 20px because 4px automatically leta hai*/
    
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#page9{
    height: 90%;
    width: 100%;
    padding: 6vw 5vw;
    display: flex;
}
#page9 h1{
    width: 20%;
    font-size: 3vw;
    font-family: monument;
    font-weight: 600;
    margin-right: 1vw;
    text-transform: uppercase;
    /* background-color: red; */
}
#page9 #part1{
    height: 100%;
    width: 35%;
    margin-right: 4vw;
    /* background-color: yellow; */
    /* background-image: url(https://images.unsplash.com/photo-1521119989659-a83eee488004?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBvcnRyYWl0fGVufDB8fDB8fHww);
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: bottom;
    object-fit: cover; */
}
#page9 #part2{
    height: 100%;
    width: 45%;
    /* background-color: blue; */
}
#page9 span{
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 300;
    /* background-color: cyan; */
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block; 
    transform: scale(1.5, 1);
}
#page9 h3{
    font-size: 1.8vw;
    font-weight: 400;
}
#page9 img{
    margin-top: 1vw;
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#footer{
    height: 35%;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    display: flex;
    justify-content: space-around;
}
#footer #p1{
    height: 100%;
    width: 40%;
    border-right: 2px solid #666;
    display: flex;
    justify-content: space-around;
    position: relative;
}
#footer #p1 h1{
    margin-top: 1.3vw;
    font-family:monument;
    font-size: 30px;
    letter-spacing:-2px;
}
#footer #p1 h1::after{
    content: "©";
    font-size: 1.3vw;
    font-weight: 400;
    position: absolute;
    
}
#footer #p1 h1::before{ 
    content: "model management";
    font-size: 0.6vw;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    right: 50%;
    top: 21%;
} 
#footer #p1 h2{
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 1.3vw;
    margin-left: 10%;
}
#footer #p2 h2{
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 1.3vw;
    margin-left: 10%;
}
#footer #p2{
    height: 100%;
    width: 20%;
    border-right: 2px solid #666;
}
#footer #p3{
    height: 100%;
    width: 40%;
}
#footer #p3 h2{
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-weight: 400;
    margin-left: 10%;
}
#footer #p3 #centre{
    border-top: 2px solid #666;
    height: 5vh;
    width: 100%;
    /* background-color: red; */
}
#footer #p3 h3{
    margin-left: 10%;
    font-weight: 400;
    font-size: 1vw;
}
#spacing{
    width: 100%;
    height: 10%;
}

/* responsive */

@media (max-width:600px){
    body{
        overflow-x: hidden;
    }
    #nav{
        height: 8vh;
        margin-top: 10px;
        padding: 0 5vw;
    }
    #nav h1{
        width: 40%;
        justify-content: flex-start;
        font-size: 24px;
    }
    #nav h3{
        display: block;
    }
    #nav h1::after{
        display: none;
    }
    #nav h1::before{
        display: none;
    }
    #nav h2{
        display: none;
    }
    
    #centre{
        height: 50%;
        width: 100%;
        /* background-color: red; */
        position: relative;
        padding:4vw;
    }
    #content{
        height: 100%;
        width: 100%;
        /* background-color: blue; */
        position: relative;
    }
    #content video{
        height: 100%;
        width: 100%;
        object-fit: cover; /*pure parent div ko cover kr lega*/
    }
    #overlay{
        height:fit-content;
        width: 100%;
        position: absolute;
        /* background-color: red; */
        bottom: 0;
        padding: 0 2vw;
        background-color: rgba(0, 0, 0, 0.178);
        backdrop-filter: blur(5px);
    }
    #over1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #F8F8F8;
        margin-bottom: 2vw;
    }
    #over1 h1{
        font-family: monument;
        font-size: 5.6vw;
        font-weight: 100;
    }
    #over1 h2{
        font-size:3vw;
        /* background-color: blue; */
        padding: 3vw 3.2vw ;
        border-radius: 50%;
        border: 1px solid white;
        border-left : 3px solid rgb(27, 18, 18);
    
    }
    #over2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #F8F8F8;
        border-top:2px solid white;
        padding: 1vw 0;
    }
    
    #over2 h4{
        font-size: 3.3vw;
        font-weight: 400;
    }
    #over2 img{
        height:5vw ;
    }
    

    #scroll{
        height: 15vh;
        width: 100%;
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #container {
        height: 100%;
        width:110%;
        /* background-color: blue; */
        display: inline-block;
        padding: 2vw;
        animation-name: anime;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    #scroll img{
        height:95% ;
        width: 15.5%;
        margin: 0.5vw;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    #alphabet{
        height: 5vh;
        gap: 0vw;
    }
    #alphabet h5{
        font-size: 2vw;
        letter-spacing: 2px;
        margin-right: 1vw;
    }
    #alphabet h6{
        font-size: 2vw;
        letter-spacing: 2px;
    }
    
    #page2{
        height: 50%;
        padding-right: 0.5vw;
        padding-left: 0.5vw;
    }
    #page2-part2{
        height: 100%;
        width: 50%;
    }
    #page2-part2 img{
        height: 50%;
    }
    #page2 #words{
        height: 50%;
    }
    #page2 #words h2{
        font-size: 15px;
    }
    #page2 #words h4{
        font-size: 12px;
    }

    #part3 h2{
        font-size: 4vw;
        font-weight: 600;
    }
    
    #page3{
        height: 50%;
        padding-left: 0;
    }
    #page3 #circular{
        height: 100%;
        width: 30%;
        margin-right: 3vw;
        /* background-color: aqua; */
    }
    #page3 #circular #text{
        height:40%;
        width: 100%;
        /* background-color: red; */
        position: relative;
    }
    #page3 #circular #text img{
        max-width: 134%;
        position: absolute;
        margin-top: 5vw;
        top: 0;
        left: 0%;
    
    }
    #page3 #circular #text #arrow{
        position: absolute;
        top: 23%;
        left: 49%;
    }
    #page3 #circular #content{
        height: 60%;
    }
    #page3 #circular #content h3{
        font-size: 4vw;
        margin-left: 2.5vw;
    }
    #page4{
        height: 50%;
    }

    #page5{
        height: 70%;
        width: 100%;
        /* background-color: red; */
        position: relative;
        padding: 4vw 4vw 5vw 4vw;
    }
    #page5>h1{  /* > means page 5 ka direct h1*/
        font-size: 5vw;
        font-weight: 500;
        margin-bottom:4vh ;
    }
    .elem{
        height: 13vh;
        padding: 0 2vw;
        position: relative;
        transition: all ease 0.7s;
    }
    .elem h4{
        font-size: 3.3vw;
    }
    .elem img{
        height: 15vw;
        width: 14vw;
    }
    .elem .elem-part2{
        width: 55%; /*part 2 bich me aa jayega elem ke*/

    }
    .elem .elem-part2 h1{
        font-size: 3.2vw;
    }
    .elem .elem-part2 h5{
        font-size: 1.8vw;
    }

    #page6{
        height: 60%;
    }
    
    #page6-part2{
        height: 100%;
        width: 60%;
        margin-left: 4%;
        position: relative;
        /* background-color: red; */
    }
    #page6-part2 #top{
        height: 60%;
    }
    #page6-part2 h1{
        font-size: 4vw;
    }
    #page6-part2 h3{
        font-size: 2.5vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    #page6-part2 #bottom{
        height: 40%;
    }

    #page7{
        height: 50%;
    }
    
    #page8{
        height: 50%;   
    }

    #page8 #img2{
        height: 100%;
        width: 40%;
        /* background-color: cadetblue; */
    }
    #page8 #img2 #top{
        height: 60%;
    }
    #page8 #img2 #bottom{
        height: 40%;
        
    }
    #page8 #img2 #bottom h3{
        font-size: 2.7vw;
    }
    #page8 #img2 #bottom h5{
        font-size: 2vw;
        font-weight: 600;
        margin-left: 0.3vw;
    }

    #page9{
        height: 55%;
    }
    #page9 h1{
        font-size: 4.6vw;
    }
    #page9 #part1{
        height: 100%;
        width: 35%;
        margin-right: 4vw;
    }
    #page9 #part2{
        height: 100%;
        width: 45%;
        /* background-color: blue; */
    }
    #page9 span{
        font-size: 2.6vw;
        font-weight: 300;
        padding: 1vw ;
    }
    #page9 h3{
        font-size: 3.5vw;
        font-weight: 400;
    }
    #page9 img{
        margin-top: 1vw;
        height: 50%;
        width: 100%;
        object-fit: cover;
    }
    #page9 #part2 img{
        margin-top: 9vw;
    }
    #footer{
        height: 20%;
        width: 100%;
    }
    #footer #p1{
        height: 100%;
        width: 40%;
        border-right: 2px solid #666;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    #footer #p1 h1{
        margin-top: 1.3vw;
        font-family:monument;
        font-size: 30px;
        letter-spacing:-3px;
    }
    #footer #p1 h1::after{
        display: none;
    }
    #footer #p1 h1::before{ 
        display: none;
    } 
    #footer #p1 h2{
        font-size: 2.5vw;
        font-weight: 600;
        margin-top: 3vw;
        margin-left: 10%;
    }
    #footer #p2 h2{
        font-size: 2.5vw;
        font-weight: 600;
        margin-top: 3vw;
    }
    
    #footer #p3 h2{
        font-size: 2.4vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
        font-weight: 700;
        margin-left: 0;
    }
    
    #footer #p3 h3{
        font-size: 2vw;
    }

}