* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: auto;
    background-color: lightblue;
    
}

#page2 h1{
    margin-left: 6vw;
    font-size: 42vw;
    font-weight: 500;
    color: white;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}

